Rules
1.be respectful
2.Obey Staff
3.No expitic or irelevant music unless you have permissong from a planeswalker or above.
5.Follow all magic rules.
6.Warn system 1.warn 2.kick 3.kick 4.ban
7.Ban appeals will be sent to zachyfun@gmail.com underthe subject of Ban appeal
8.Have fun
9.Fly eagle fly
10.Mikel is cool
